<div id="index_page">
  <% 0.upto(@articles.length/8 + 1) do |i| %>
    <% if i % 2 == 0 %>
    <section class="row_styling clearfix">
      <% if my_article = @articles[i*8] %>
        <article class="unit col15">
          <a href="<%= article_url(my_article) %>">
            <img class="blog_img" src="assets/personal-1.jpg"  height="400px">
            <h1><%= my_article.title %></h1>
            <p><%= my_article.intro %>...</p>
          </a>
        </article>
      <% end %>
      <section class=" unit col2of5">
        <section class="clearfix">
          <% if my_article = @articles[i*8 + 1] %>
          <article class="unit col2of5">
            <a href="<%= article_url(my_article) %>">
              <img class="blog_img" src="assets/personal-1.jpg"  height="150px">
              <h1><%= my_article.title %></h1>
              <p><%= my_article.intro %>...</p>
            </a>
          </article>
          <% end %>
          <% if my_article = @articles[i*8 + 2] %>
          <article class="unit col2of5 ">
            <a href="<%= article_url(my_article) %>">
              <img class="blog_img" src="assets/personal-1.jpg"  height="150px">
              <h1><%= my_article.title %></h1>
              <p><%= my_article.intro %>...</p>
            </a>
          </article>
          <% end %>
        </section>
        <section class="clearfix">
          <% if my_article = @articles[i*8 + 3] %>
            <article class="unit col2of5">
              <a href="<%= article_url(my_article) %>">
                <img class="blog_img" src="assets/personal-1.jpg"  height="150px">
                <h1><%= my_article.title %></h1>
                <p><%= my_article.intro %>...</p>
              </a>
            </article>
          <% end %>
          <% if my_article = @articles[i*8 + 4] %>
            <article class="unit col2of5 ">
              <a href="<%= article_url(my_article) %>">
                <img class="blog_img" src="assets/personal-1.jpg"  height="150px">
                <h1><%= my_article.title %></h1>
                <p><%= my_article.intro %>...</p>
              </a>
            </article>
          <% end %>
        </section>
      </section>
      <% if my_article = @articles[i*8 + 5] %>
      <article class="unit col15">
        <a href="<%= article_url(@articles[i*5 + 6]) %>">
          <img class="blog_img" src="assets/personal-1.jpg"  height="400px">
          <h1><%= @articles[i*5 + 6].title %></h1>
          <p><%= @articles[i*5 + 6].intro %>...</p>
        </a>
      </article>
      <% end %>
      <section class="unit col1of5">
        <% if my_article = @articles[i*8 + 6] %>
        <article>
          <a href="<%= article_url(@articles[i*5 + 7]) %>">
            <img class="blog_img" src="assets/personal-1.jpg"  height="150px">
            <h1><%= @articles[i*5 + 7].title %></h1>
            <p><%= @articles[i*5 + 7].intro %>...</p>
          </a>
        </article>
        <% end %>
        <% if my_article = @articles[i*8 + 7] %>
        <article>
          <a href="<%= article_url(my_article) %>">
            <img class="blog_img" src="assets/personal-1.jpg"  height="150px">
            <h1><%= @articles[i*5 + 8].title %></h1>
            <p><%= @articles[i*5 + 8].intro %>...</p>
          </a>
        </article>
        <% end %>
      </section>
    </section>
    <% else %>
    <section class=" unit col2of5">
      <section class="clearfix">
        <% if my_article = @articles[i*8] %>
        <article class="unit col2of5">
          <a href="<%= article_url(my_article) %>">
            <img class="blog_img" src="assets/personal-1.jpg"  height="150px">
            <h1><%= my_article.title %></h1>
            <p><%= my_article.intro %>...</p>
          </a>
        </article>
        <% end %>
        <% if my_article = @articles[i*8 + 1] %>
        <article class="unit col2of5 ">
          <a href="<%= article_url(my_article) %>">
            <img class="blog_img" src="assets/personal-1.jpg"  height="150px">
            <h1><%= my_article.title %></h1>
            <p><%= my_article.intro %>...</p>
          </a>
        </article>
        <% end %>
      </section>
      <section class="clearfix">
        <% if my_article = @articles[i*8 + 2] %>
        <article class="unit col2of5">
          <a href="<%= article_url(my_article) %>">
            <img class="blog_img" src="assets/personal-1.jpg"  height="150px">
            <h1><%= my_article.title %></h1>
            <p><%= my_article.intro %>...</p>
          </a>
        </article>
        <% end %>
        <% if my_article = @articles[i*8 + 3] %>
        <article class="unit col2of5 ">
          <a href="<%= article_url(my_article) %>">
            <img class="blog_img" src="assets/personal-1.jpg"  height="150px">
            <h1><%= my_article.title %></h1>
            <p><%= my_article.intro %>...</p>
          </a>
        </article>
        <% end %>
      </section>
    </section>
    <% if my_article = @articles[i*8 + 4] %>
    <article class="unit col15">
      <a href="<%= article_url(my_article) %>">
        <img class="blog_img" src="assets/personal-1.jpg"  height="400px">
        <h1><%= my_article.title %></h1>
        <p><%= my_article.intro %>...</p>
      </a>
    </article>
    <% end %>
    <section class="unit col2of5">
      <% if my_article = @articles[i*8 + 5] %>
      <article>
        <a href="<%= article_url(my_article) %>">
          <img class="blog_img" src="assets/personal-1.jpg"  height="150px">
          <h1><%= my_article.title %></h1>
          <p><%= my_article.intro %>...</p>
        </a>
      </article>
       <% end %>
      <section class="clearfix">
        <% if my_article = @articles[i*8 + 6] %>
        <article class="unit col2of5">
          <a href="<%= article_url(my_article) %>">
            <img class="blog_img" src="assets/personal-1.jpg"  height="300px">
            <h1><%= my_article.title %></h1>
            <p><%= my_article.intro %>...</p>
          </a>
        </article>
        <% end %>
        <% if my_article = @articles[i*8 + 7] %>
        <article class="unit col2of5">
          <a href="<%= article_url(my_article) %>">
            <img class="blog_img" src="assets/personal-1.jpg"  height="300px">
            <h1><%= my_article.title %></h1>
            <p><%= my_article.intro %>...</p>
          </a>
        </article>
        <% end %>
      </section>
    </section>
    <% end %>
  <% end %>
</div>