<div id="welcome">
  <section class="clearfix">
    <article class="unit col2of5 intro">
      <h2>Engineers Canvas, is a platform for thoughts on Software Engineering, Systems and Leadership. We hope you enjoy our thoughts.Our Authors have worked in the Industry for a couple of years and have in depth knowledge to share</h2>
      <h3>Like our articles? Sign up for our newsletter</h3>
      <form>
        <div>
          <input type="search" placeholder="youremail@domain.com"> 
          <button class="prim-button">Subscribe</button>
        </div>
      </form>
      <h4>Love our Articles?</h4>
      <p>Buy us Coffee or Dinner</p> 
    </article>
    <section class="unit col2of5 center_content">
      <section class="unit col1of2 border_right">
        <% if my_article = @tech_articles[0] %>
        <article class="border_bottom">
          <a href="<%= article_url(my_article) %>">
            <%= image_tag my_article.welcome_image %>
          </a>
          <h1><%= my_article.title %></h1>
          <p><%= my_article.intro %>...</p>
        </article>
        <% end %>
        <% if my_article = @tech_articles[1] %>
        <article class= "margin_top">
          <a href="<%= article_url(my_article) %>">
            <%= image_tag my_article.welcome_image %>
          </a>
          <h1><%= my_article.title %></h1>
          <p><%= my_article.intro %>...</p>
        </article>
        <% end %>
      </section>
      <section class="clearfix">
        <% if my_article = @tech_articles[2] %>
        <article class="border_bottom">
          <a href="<%= article_url(my_article) %>">
            <%= image_tag my_article.welcome_image %>
          </a>
          <h1><%= my_article.title %></h1>
          <p><%= my_article.intro %>...</p>
        </article>
        <% end %>
        <% if my_article = @tech_articles[3] %>
        <article class="margin_top">
          <a href="<%= article_url(my_article) %>">
            <%= image_tag my_article.welcome_image %>
          </a>
          <h1><%= my_article.title %></h1>
          <p><%= my_article.intro %>...</p>
        </article>
        <% end %>
      </section>
    </section>
  </section>

  <section class="clearfix">
    <h3>Meet our Authors</h3> 
    <p>Want to be an Author? Contact us<a href="#">/contact</a></h4>
    <h4>Seeking Mentorship</h4>
    <p>Contact us and we will pair you with a experienced professional</p>
    <h4>Some of our Authors are also available to accept Contracting Opportunities</h4>
    <p>Submit your proposal and Budget and we will get back to you</p>
  </section>
</div>